{% extends 'home/base.html' %}
{% block tittle %}About{% endblock tittle %}
{% block aboutactive %}active{% endblock aboutactive %}

{% block body %}

<div class="container-fluid my-3 ">
<div class="jumbotron">
  <h1 class="display-4">✔About us</h1>
  <p class="lead">✌Registered Company✌</p>
  <hr class="my-4">
  <p>✨It is a blog app in whic you can write your experience in comments and many more features✨</p>
</div>
</div>



  <div class="container bg-danger ">
    <div class="row my-2 trans  ">

      <div class="col col-md-4 col-lg-4 on2 ">
        <div class="card text-left">
          <div class="card-body">
            <h4 class="card-title">Developer</h4>
            <a href="https://github.com/Munesh-Kumar005">Developed By: Munesh Kumar</a>
          </div>
        </div>

      </div>

      <div class="col col-md-4 col-lg-4 on2 ">
        <div class="card text-left">

          <div class="card-body">
             <a href="#">All Rights Reserved</a>
          </div>
        </div>

      </div>

      <div class="col col-md-4 col-lg-4 on2 ">
        <div class="card text-left">
          <div class="card-body">
            <h4 class="card-title">English(Pakistan)</h4>
            <a href="#">Map</a>
          </div>
        </div>

      </div>

     
  </div>


 {% endblock body %}